*{
  margin:0px;
  padding:0px;
}

#checkLine{
  width:200px;
  height:800px;
  display:inline-block;
}

#checkboard{
  width: 200px;
  height:200px;
  display: inline-block;
}
.check{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-left: -4px;
  margin-top: -4px;
}

.red{
  background-color: white;
}

.black{
  background-color: black;
}
