<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login And Registration</title>
</head>
<body>
    <form action="/registration" method="post">
        <h1>Registration</h1>
        {% csrf_token %}

        <input type="hidden" name="which_form" value="register">

            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


            <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text"  name="first_name" class="form-control" placeholder="Enter First Name">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"  name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password"  name="confirm" class="form-control" placeholder="Password">
            </div>
            <input type="submit" value="Registration" class="btn btn-primary">
    </form>





    <form action="/login" method="post">
        <h1>Log In</h1>
        {% csrf_token %}
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <input type="submit" value="Log In" class="btn btn-primary">



            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
</body>
</html>