<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Registration</title>
</head>
<body>
    <form action="/register" method="post">
    <h1>Registration</h1>
    {% csrf_token %}
    <input type="hidden" name="which_form" value="register">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <label for="confirm">Confirm PW:</label>
    <input type="password" name="confirm">
    <input type="submit" value="Register">
    </form>
    <form action="/check_log" method="post">
        <h1>Log In</h1>
        {% csrf_token %}
        <input type="hidden" name="loginid" value="id">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>

    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>